*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  text-align: inherit;
  position: relative;
  max-width: none;
  min-width: 0;
  border-radius: 0;
  border: none;
  box-shadow: none;
  background: none;
  outline: none;
  scrollbar-width: none;
  user-select: none;
  -webkit-touch-callout: none;
}

:root {
  font-size: calc(5vmin + 5vw + 10px);
  --white: white;
  --black: black;
  --darkgrey: #808080;
  --translucent: rgba(0, 0, 0, 0.28);
  --border: calc(2px + 0.3vmin) solid;
  --transition: 0.6s cubic-bezier(0.2, 0.4, 0.1, 1);
}

body {
  line-height: 1;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.08em;
  padding: 0.2em;
  padding-bottom: 2em;
  display: grid;
  background: var(--white);
  color: var(--black);
  min-height: 100vh;

  &.overcast {
    background: #37373a;
  }

  &.night {
    --white: black;
    --black: white;
    --darkgrey: #636363;
    --translucent: rgba(255, 255, 255, 0.2);
  }
}

.noscroll,
.noscroll body {
  overflow: hidden;
}

.noscroll,
.noscroll * {
  user-select: none;
  -webkit-touch-callout: none;
}

.day [data-theme="day"],
.night [data-theme="night"],
.overcast [data-theme="overcast"] {
  border-color: var(--black);
}

header,
footer,
#modal {
  display: flex;
  position: fixed;
  z-index: 99;
  right: 0;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0;
  text-align: right;

  a,
  label,
  button {
    display: block;
    padding: 1em;
    cursor: pointer;
  }
}

header {
  top: 0;
  padding: 1em;

  label,
  button {
    text-decoration: underline;
  }
}

footer {
  padding: 1em;
  bottom: 0;

  [data-theme] {
    border: var(--border) transparent;

    &::after {
      content: attr(data-theme);
    }
  }
}

#modal {
  position: fixed;
  display: block;
  text-align: right;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1em;
  z-index: 99;
  transition: opacity var(--transition);
  background: inherit;

  button {
    margin-top: 1em;
    display: inline-block;
    border: var(--border);

    & + button {
      margin-left: 1em;
    }
  }
}

.invisible {
  opacity: 0;
  pointer-events: none;
}

ul {
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  height: 1em;
  transition: transform var(--transition), opacity 0.3s, margin var(--transition);
}

.shift {
  transform: translate3d(0, 1em, 0);
}

.drug {
  opacity: 0;
  pointer-events: none;
  margin-top: -1em;
  transform: translate3d(0, 1em, 0);
}

input[type="file"] {
  color: transparent;
  position: absolute;
  top: -99vw;
  right: -99vw;
  width: 0;
  height: 0;
}

input[type="checkbox"] {
  appearance: none;
  border-radius: 0.2em;
  border: var(--border);
  cursor: pointer;
  width: 0.6em;
  height: 0.6em;
  margin-right: 0.1em;
  transition: border-radius var(--transition), border-color var(--transition);

  &:checked {
    border-color: var(--darkgrey);
    border-radius: 50%;
  }

  &:checked + input[type="text"] {
    text-decoration: line-through;
    color: var(--darkgrey);
  }
}

input[type="text"] {
  flex: 1;
  user-select: auto;
}

::placeholder {
  color: var(--translucent);
}

::selection {
  background: var(--black);
  color: var(--white);
}

::-webkit-scrollbar {
  width: 0;
}
